
body {
    background-image: url(images/pictures/color.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 0px;
    margin: 0%;
    display: block;
}
.header-box {
    background-color: white;
    height: 60px;
    width: 100%;
    margin: 0px;
    padding: 0%;
    display: grid;
    grid-template-columns: 3fr 3fr 8fr 1fr;
    position: fixed;
    box-shadow: rgb(82, 78, 78)  0px 4px 10px 1px;;
}
.header-logo {
    padding-left: 20px;
}
.header-logo img {
    height: 60px;
}
.header-nav {
    padding: 15px;
    margin: 0%;
    height: 30px; 
}
.header-nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0%;
    height: 100%;  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.header-nav li {
    text-align: center;
    padding-top: 0px;
    border-left: black solid 5px;
}
.header-nav li:last-child {
    border-right: black solid 5px;
}
.header-nav li a {
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    text-decoration: none;
    font-family: "Microsoft YaHei";
    color: black;
}
.login {
    margin-top: 13px;
    margin-left: 30px;
    border: solid black 2px;
    border-radius: 20%;
    height: 30px;
    width: 30px;
}
.login img {
    height: 100%;
} 
.title-box {
    margin: 0%;
    padding: 0%;
    width: 100%;
    background-color: rgb(0,0,0, 0.7);
    height: 50%;
    display: grid;
    grid-template-rows: 3fr 9fr 5fr;
}
.title-box h1 {
    align-items: center;
    text-align: center;
    font-size: 120px;
    word-spacing: 10px;
    font-family: 'Lucida Sans';
    color: white;
}
.Proletarians p {
    font-size: 20px;
    font-family: 'Hack';
    color: gray;
    margin: 10px;
}
.Proletarians p:first-child {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(163, 162, 162);
    margin: 20px 10px;
}
/* translateY */
.main-box {
    display: block;
    background-color: white;
    width: 100%;
    padding: 0%;
    margin: 0%;
}
.services {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background-color: white;
}
.services a {
    padding: 30px;
    margin: 30px;
    text-align: center;
    text-decoration: none;
    width: 200px;
    height: 200px;
    background-color: white;
    color: rgb(50, 55, 61);
    border-radius: 50%;
    box-shadow: rgb(199, 199, 199) 0px 2px 10px 3px;
    transition-duration: .3s;
    transition-property: transform, box-shadow;
}
.services a img {
    width: 50%;
}
.services a:hover {
    transform: translateY(-10px);
    box-shadow: rgb(199, 199, 199) 0px 5px 20px 5px;
}
@media screen and (max-width: 1280px) and (min-width: 1080px){
    .services a {
      height: 180px;
    }
  } 
@media screen and (max-width: 1080px) and (min-width: 900px){
    .services a {
      height: 130px;
    }
  } 
@media screen and (max-width: 900px){
    .services a {
      height: 115px;
    }
  }
.message-board {
    display: block;
    background-color: white;
    width: 100%;
    margin: 0%;
    padding: 30px 0px;
}
.site-info {
    display: block;
    background-color: white;
    margin: 0%;
    padding: 30px 0px;
    width: 100%;
}

.footer-box {
    height: 200px;
    background-color: lightblue;
    margin: 0%;
    padding: 30px 0px;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 8fr 1fr;
}