
body {
    background-image: url(images/pictures/nature.jpg);
    background-size: cover;
    background-color: aliceblue;
    background-attachment: fixed;
    padding: 0%;
    margin: 0%;
}
.header-box {
    background-color: white;
    height: 70px;
    width: 100%;
    margin: 0px;
    padding-top: 0%;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    overflow: hidden;
}
.header-logo img {
    height: 60px;
}
.header-nav {
    display: inline-flex;
    padding:0%;
    margin: 0px;
}
.header-nav ul {
    list-style-type: none;
    font-size: 160%;
    font-family: 'Lucida Sans';
    z-index: 1;
    height: 100%;
    margin-right: 60px;
    margin-top: 18px;
    margin-bottom: 0%;
}

.header-nav li {
    align-items: center;
    display: inline-block;
    text-align: center;
    font-size: 80%;
    padding-left: 60px;
    padding-right: 60px;
    border-left: black solid 5px;
}
.header-nav li:last-child {
    border-right: black solid 5px;
}
.login {
    display: block;
    text-align: center;
    padding: 5px;
    margin-top: 15px;
    margin-right: 50px;
    border: solid black 2px;
    border-radius: 20%;
    height: 30px;
    width: 30px;
}
.login img {
    height: 100%;
} 
.title-box {
    clear: both;
    margin: 0%;
    padding: 20px;
    background-color: rgb(0,0,0, 0.7);
    height: 50%;
    display: grid;
    grid-template-rows: 3fr 9fr 5fr;
}
.title-box h1 {
    align-items: center;
    text-align: center;
    font-size: 120px;
    word-spacing: 10px;
    font-family: 'Lucida Sans';
    text-shadow: grey;
    color: white;
}
.Proletarians p {
    font-size: 20px;
    font-family: 'Hack';
    color: gray;
    margin: 10px;
}
.Proletarians p:first-child {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(163, 162, 162);
    margin: 20px;
}
/* translateY */
.main-box {
    display: block;
}
.services {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    width: 100%;
    height: 30%;
    background-color: white;
}
.services a {
    padding: 30px;
    text-align: center;
    text-decoration: none;
    width: 200px;
    height: 200px;
    background-color: white;
    color: rgb(50, 55, 61);
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 50%;
    box-shadow: rgb(199, 199, 199) 0px 2px 10px 3px;
    transition-duration: .3s;
    transition-property: transform, box-shadow;
}
.services a img {
    width: 50%;
}
.services a:hover {
    transform: translateY(-10px);
    box-shadow: rgb(199, 199, 199) 0px 5px 20px 5px;
}
.message-board {
    display: block;
    background-color: white;
    margin: 0%;
    padding: 30px;
}
.site-info {
    display: block;
    background-color: white;
    margin: 0%;
    padding: 30px;
}

.footer-box {
    height: 200px;
    background-color: lightblue;
    margin: 0%;
    padding: 30px;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 8fr 1fr;
}